<% if flash[:messages] %>
  <% flash[:messages].each do |message| %>
    <h2 style="color:red;"><%= message %></h2>
  <% end %>
<% end %>

<h2>Create a New Otter</h2>

<%= render 'form' %>

<%= link_to 'Back to index', root_path %>